*{
    
    height:auto;
    margin:0;   
    padding:0;
}

button{
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
h1{
    text-align: center;
}
.shopping a{
    color:black; 
}
.btn-ajout-produit button {
    display:flex;
    margin:auto;
    padding:5px;
    text-align: center;
    background-color: rgba(213, 251, 213, 0.778);
    width:auto;
    font-size: 1.2em;
   
   
    
}

.cards-container{
    width: 100%;
    display:flex; 
    justify-content: center;
    flex-wrap: wrap;
    gap:15px;
}