button{
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
h1{
    text-align: center;
}
.shopping a{
    color:black; 
}
.btn-ajout-produit button {
    margin:50px auto;
    padding:8px;
    width:100%;
    font-size: 1.1em;
    
}

.cards-container{
    width: 100%;
    display:flex; 
    justify-content: center;
    flex-wrap: wrap;
    gap:15px;
}