nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1a1d33;
    color: #fff;
    padding: 10px;
    position:sticky;
    top:0;
}

.logo {
    text-decoration: none;
    background-image: url("/images/logo-small.jpg");
    background-repeat: no-repeat;
    width: 125px;
    height:125px;
    object-fit: contain;
}



.auth button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin:10px;
}
.auth button:hover {
    background-color: #007bff;
    cursor: pointer;
    color:white;    

}